body{
    background-color: cornflowerblue;
}
.main{
    width: 100%;
    height: 100%;
    color: black;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center center;
}
*{
  margin: 0;
  padding: 0;
}
#back{
    width: 100vw;
    height: 70vh;
}
#battle-field{
    position: absolute;
    top: 4vh;
    left: 44vw;
    width: 6vw;
    height: 22vh;
}
#deck{
    position: absolute;
    top: 8.5vh;
    left: 86vw;
    width: 6vw;
    height: 22vh;
}
#trash{
    position: absolute;
    top: 32vh;
    left: 86vw;
    width: 6vw;
    height: 22vh;
}
#side-1{
    position: absolute;
    top: 3vh;
    left: 2vw;
    width: 6vw;
    height: 22vh;
}
#side-2{
    position: absolute;
    top: 25vh;
    left: 2vw;
    width: 6vw;
    height: 22vh;
}
#side-3{
    position: absolute;
    top: 47vh;
    left: 2vw;
    width: 6vw;
    height: 22vh;
}
#side-4{
    position: absolute;
    top: 1.5vh;
    left: 4vw;
    width: 6vw;
    height: 22vh;
}
#side-5{
    position: absolute;
    top: 23.5vh;
    left: 4vw;
    width: 6vw;
    height: 22vh;
}
#side-6{
    position: absolute;
    top: 45.5vh;
    left: 4vw;
    width: 6vw;
    height: 22vh;
}
#bench-1{
    position: absolute;
    top: 43vh;
    left: 18vw;
    width: 6vw;
    height: 22vh;
}
#bench-2{
    position: absolute;
    top: 43vh;
    left: 31vw;
    width: 6vw;
    height: 22vh;
}
#bench-3{
    position: absolute;
    top: 43vh;
    left: 44vw;
    width: 6vw;
    height: 22vh;
}
#bench-4{
    position: absolute;
    top: 43vh;
    left: 57vw;
    width: 6vw;
    height: 22vh;
}
#bench-5{
    position: absolute;
    top: 43vh;
    left: 70vw;
    width: 6vw;
    height: 22vh;
}
.card{
    height : auto;
    width: 8vw;
    position: absolute;
}
.hand li{
    float: left;
    list-style: none;
    margin: 4vw;
}