body{
    background-color: cornflowerblue;
}
.main{
    width: 100%;
    height: 100%;
    color: black;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center center;
}
*{
  margin: 0;
  padding: 0;
}
li{
    list-style: none;
}
#back{
    z-index: 0;
    width: 100vw;
    height: 70vh;
}
#battle-field_position{
    position: absolute;
    top: 4vh;
    left: 44vw;
    width: 12vw;
    height: 22vh;
}
#deck_position{
    position: absolute;
    top: 8.5vh;
    left: 86vw;
    width: 12vw;
    height: 22vh;
}
#trash_position{
    position: absolute;
    top: 32vh;
    left: 86vw;
    width: 12vw;
    height: 22vh;
}

#side-1_position{
    position: absolute;
    top: 3vh;
    left: 2vw;
    width: 2vw;
    height: 21vh;
}
#side-2_position{
    position: absolute;
    top: 25vh;
    left: 2vw;
    width: 2vw;
    height: 21vh;
}
#side-3_position{
    position: absolute;
    top: 47vh;
    left: 2vw;
    width: 2vw;
    height: 21vh;
}
#side-4_postion{
    position: absolute;
    top: 1.5vh;
    left: 4vw;
    width: 12vw;
    height: 22vh;
}
#side-5_position{
    position: absolute;
    top: 23.5vh;
    left: 4vw;
    width: 12vw;
    height: 22vh;
}
#side-6_position{
    position: absolute;
    top: 45.5vh;
    left: 4vw;
    width: 12vw;
    height: 22vh;
}
#bench-1_position{
    position: absolute;
    top: 43vh;
    left: 18vw;
    width: 12vw;
    height: 22vh;
}
#bench-2_position{
    position: absolute;
    top: 43vh;
    left: 31vw;
    width: 12vw;
    height: 22vh;
}
#bench-3_position{
    position: absolute;
    top: 43vh;
    left: 44vw;
    width: 12vw;
    height: 22vh;
}
#bench-4_position{
    position: absolute;
    top: 43vh;
    left: 57vw;
    width: 12vw;
    height: 22vh;
}
#bench-5_position{
    position: absolute;
    top: 43vh;
    left: 70vw;
    width: 12vw;
    height: 22vh;
}
#lost_position{
  position: absolute;
  top: 0vw;
  left: 17vw;
  width: 12vw;
  height: 22vh;
  background-color:aqua
}
#stadium_position{
  position: absolute;
  top: 0vw;
  left: 30vw;
  width: 12vw;
  height: 22vh;
  background-color:red
}
.operations_postion{
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100vw;
    height: 10vh;
}
.card{
    height : auto;
    width: 8vw;
    position: absolute;
}
#hand{
    position: absolute;
    top: 80vh;
    left: 0;
    width: 100vw;
    height: 25vw;
    overflow-x: scroll;
}
#hand ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
}
#hand ul li{
    display: inline-block;
    list-style: none;
    width: 8vw;
}
#deck_trash_lost{
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 56vw;
    width: 30vw;
    height: 43vh;
}
#deck_trash_lost ul li{
    float: left;
    list-style: none;
    width: 8vw;
    margin: 0vh 0vw 12vh 0vw;
}