{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/index.css">
<img src="static/saru.png" id="back">
<h2> デッキコードURLを入力 </h2>
<h5>Contact me from <a href="https://twitter.com/koromooo_">twitter</a> or on <a href="https://github.com/tokawa0213">github</a> for more information</h5>
    <form class = "form-wrapper" action="{{ url_for('ResultPage')}}" method="get">
    <input type ="text" name="name" placeholder="デッキコードのURL" id="search">
        <button type="submit" value="Submit" id="submit">検索</button>
    </form>
{% endblock %}