<meta name="viewport" content="width=device-width">
<!DOCTYPE html>
<html lang="jp">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Proxy maker{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/css/play_ground.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        var hand = {{hand|tojson}};
        var deck = {{deck|tojson}};
        var side = {{side|tojson}};
        var drag_object,drag_object_id,drag_object_parent_id;
        </script>
        <script src="static/js/head.js"></script>
    </head>
    <body>
        <div class="main">
            <div id = "deck_trash_lost">
                <ul hidden id="deck"></ul>
                <ul hidden id="trash"></ul>
                <ul hidden id="lost"></ul>
            </div>
            <img src = "static/p_mat.jpg" id = "back">
            <!-- Divide the drop area in 2. Left side will be for evo and poke
            the other side will be for energy and equipments, so when dropped in drop area,
            make the li object a child of the drop class -->
            <!-- Make new area lost position -->
            <!-- Make new area stadium postion -->
            <div class  = "drop" id = "stadium_position"></div>
            <div class  = "drop" id = "battle-field_position"></div>
            <div class  = "drop" id = "bench-1_position"></div>
            <div class  = "drop" id = "bench-2_position"></div>
            <div class  = "drop" id = "bench-3_position"></div>
            <div class  = "drop" id = "bench-4_position"></div>
            <div class  = "drop" id = "bench-5_position"></div>
            <div class  = "drop" id = "side-1_position"></div>
            <div class  = "drop" id = "side-2_position"></div>
            <div class  = "drop" id = "side-3_position"></div>
            <div class  = "drop" id = "side-4_postion"></div>
            <div class  = "drop" id = "side-5_position"></div>
            <div class  = "drop" id = "side-6_position"></div>
            <div class  = "drop_disappear" id = "lost_position"></div>
            <div class  = "drop_disappear" id = "deck_position"></div>
            <div class  = "drop_disappear" id = "trash_position"></div>
            <div class="operations_postion">
                <form action="{{ url_for('play_ground')}}" method="post"><button type="submit"> 最初からやり直す </button></form>
                <input type="button" value="一枚引く" id="draw">
                <input type="button" value="シャッフル" id="shuffle">
            </div>
            <div class  = "drop" id ="hand_position"></div>
            <div id="hand"><h5> Hand </h5><ul></ul></div>
        </div>
    </body>
    <script src="static/js/body.js"></script>
</html>
